@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  .profPic {
    width: 24rem;
    margin: 0;
    border: 1px solid black;
    margin-top: 15px border-radius 8px;
  }
}

/* @media (min-width: 768px) {
  .mainAbout {
    display: flex;
    flex-direction: column;
  }
} */
