@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "IM Fell French Canon", serif;
  }
}

.navbar > .active {
  border-bottom: 1px solid white
}

.divider2 {
  background: 
  linear-gradient(11deg, #EADEDB 0%, #BC70A4 60%, #BFD641 60%)

}
