@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "IM Fell French Canon", serif;
  }
}

.navbar > .active {
  border-bottom: 1px solid white
}


.wrapper section:first-child {
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
}

.wrapper section:last-child {
  margin-top: -25vh;
  background: url('/src/components/images/about3.jpg') center/cover;
  clip-path: polygon(1 0, 100% 0, 100% 100%, 0 100%);
}

@media only screen and (max-width: 768px) {
  .wrapper section:first-child {
    background: black;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%)
  }
  
  .wrapper section:last-child {
    background: url('/src/components/images/about3.jpg') center/cover;
  }
}